[submodule "core"]
	path = core
	url = git@github.com:ManiVaultStudio/core.git
[submodule "SpatialHierarchyPlugin"]
	path = SpatialHierarchyPlugin
	url = git@github.com:alxvth/SpatialHierarchyPlugin.git
[submodule "Scatterplot"]
	path = Scatterplot
	url = git@github.com:ManiVaultStudio/Scatterplot.git
[submodule "SpidrPlugin"]
	path = SpidrPlugin
	url = git@github.com:ManiVaultStudio/SpidrPlugin.git
[submodule "ImageEmbeddingCoupling"]
	path = ImageEmbeddingCoupling
	url = git@github.com:ManiVaultStudio/ImageEmbeddingCoupling.git
[submodule "ImageLoaderPlugin"]
	path = ImageLoaderPlugin
	url = git@github.com:ManiVaultStudio/ImageLoaderPlugin.git
[submodule "t-SNE-Analysis"]
	path = t-SNE-Analysis
	url = git@github.com:ManiVaultStudio/t-SNE-Analysis.git
[submodule "PcaPlugin"]
	path = PcaPlugin
	url = git@github.com:ManiVaultStudio/PcaPlugin.git
[submodule "UMAP-Plugin"]
	path = UMAP-Plugin
	url = git@github.com:ManiVaultStudio/UMAP-Plugin.git
