[submodule "core"]
	path = core
	url = ../../ManiVaultStudio/core.git
[submodule "Scatterplot"]
	path = Scatterplot
	url = ../../ManiVaultStudio/Scatterplot.git
[submodule "SpidrPlugin"]
	path = SpidrPlugin
	url = ../../ManiVaultStudio/SpidrPlugin.git
[submodule "ImageEmbeddingCoupling"]
	path = ImageEmbeddingCoupling
	url = ../../ManiVaultStudio/ImageEmbeddingCoupling.git
[submodule "ImageLoaderPlugin"]
	path = ImageLoaderPlugin
	url = ../../ManiVaultStudio/ImageLoaderPlugin.git
[submodule "ImageViewerPlugin"]
	path = ImageViewerPlugin
	url = ../../ManiVaultStudio/ImageViewerPlugin.git
[submodule "t-SNE-Analysis"]
	path = t-SNE-Analysis
	url = ../../ManiVaultStudio/t-SNE-Analysis.git
[submodule "PcaPlugin"]
	path = PcaPlugin
	url = ../../ManiVaultStudio/PcaPlugin.git
[submodule "UMAP-Plugin"]
	path = UMAP-Plugin
	url = ../../ManiVaultStudio/UMAP-Plugin.git
[submodule "SpatialHierarchyPlugin"]
	path = SpatialHierarchyPlugin
	url = ../../alxvth/SPH_plugin.git
